---
Checks: >
  -*,
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  cppcoreguidelines-*,
  -altera-*,
  -fuchsia-*,
  -llvmlibc-*,
  -zircon-*,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-type-reinterpret-cast
WarningsAsErrors: ''
HeaderFileExtensions: [h, hh, hpp, hxx]
ImplementationFileExtensions: [c, cc, cpp, cxx]
HeaderFilterRegex: 'src/.*'
FormatStyle: file
...
